{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Create New Recipe</h3>
                <a href="{{ path('recipe_list') }}" class="btn btn-info">Return to the home page</a>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
